extends layout

mixin navbuttons
  div.navbuttons
    button(data-bind="visible: d.page() > 1, click: previouspage") Previous page
    button.primary(data-bind="visible: d.page() < 5, click: nextpage") Next page
  a(href='#' data-bind="click: reset") Start over

mixin contact
  div.contact&attributes(attributes)
    div.grid-row
      div.required
        label.required Full Name
        input(type="text" data-bind="value: name")
    div.grid-row
      div.required
        label.required Email address
        input(type="text" data-bind="value: email")
      div.required
        label.required Telephone number
        input(type="text" data-bind="value: phone")
    block

block content
  form(method="post" enctype="multipart/form-data")
    fieldset.page#qualifiers(data-bind="visible: d.page() == 1")
      p.question Who are you?
      +contact(data-bind="with: d.applicant")

      div.required
        p.question What would you like to do?
        div(data-bind="foreach: applicationTypeOptions")
          label.mode.grid-row
            input(type="radio" data-bind="value: id, checked: $root.d.applicationType")
            div(data-bind="text: name")

      div.required
        label.question(for="q3") How much money do you expect the program to require, in total?
        select(data-bind="options: availableCostBands, optionsText: 'label', optionsValue: 'id', value: d.costBand")

      //- ew!
      div(data-bind="visible: !!_assessmentLevel()")
        p This application will be reviewed by the BEIS Portfolio team. They will help you liaise with the GDS if appropriate. As part of this application, you will need to complete a self-assessment to verify that your project meets the Cabinet Office's digital and technical standards.
        p(data-bind="visible: _assessmentLevel() == 3") Due to the cost of this project, you will also have to verify that you meet the Cabinet Office's commercial standards. The Cabinet Office may get involved in the review.

        p.lede Your application progress will be stored throughout - you can return to this webiste at any point to complete your application.
        
        button.startbutton.primary(data-bind="click:nextpage") Start application




    fieldset.page#general(data-bind="visible: d.page() == 2")
    
      div(data-bind="visible: _askAboutProjectPhase")
        div.required
          label.question Choose your project
          select(data-bind="options: existingProjects, optionsText: 'name', optionsValue: 'id', value: d.existingId")
        div.required
          label.question Which project phase are you seeking approval for?
          select(data-bind="options: digitalProjectPhases, optionsText: 'name', optionsValue: 'id', value: d.phase")
      
        
      div(data-bind="visible: d.applicationType()==1")
        div.required
          label.question(for="q2") What is the name of the new program?
          input(name="q2" type="text" data-bind="value: d.name")
        
        label.question(for="q3") Which ministerial or legislative mandates, if any, are set against this program?
        textarea(name="q3" data-bind="value: d.mandates")
        
        label.question Who is the Senior Responsible Officer (SRO) of this program?
        +contact()(data-bind="with: d.sro")

        div.required
          label.question Which directorate does this program belong to?
          select(data-bind="options: directorates, optionsText: 'name', optionsValue: 'id', value: d.directorate")
        
      div.required(data-bind="visible: _askAboutTech")
        label.question What technology, new or existing, are you proposing to use?  
        textarea(data-bind="value: d.technology")

      div(data-bind="visible: _askAboutUseCase")
        p.question Who will benefit from this program, and how?
        div.table
          div.tr(data-bind="visible: d.usecases().length > 0")
            div.td Beneficiary
            div.td Direct user?
            div.td They will be able to&hellip;
            div.td
          div.tbody(data-bind="foreach: d.usecases")
            div.tr
              div.td.input.required
                input(type="text" data-bind="value: user")
              div.td.input
                label
                  input(type="checkbox" data-bind="checked: direct")
                  span Direct user
              div.td.input.required
                textarea(data-bind="value: usecase")
              div.td
                a(href="#" data-bind="click: $root.removeUsecase") Remove
        div(data-bind="visible: d.usecases().length == 0") No usecases specified
        button(data-bind="click: addUsecase") Add a usecase
        div.required(data-bind="visible: d.usecases().length > 0")
          p.question What kind of research has been done to validate the above usecases?
          textarea(data-bind="value: d.usecaseEvidence")

      p.question Do you have a Business Case document for this application?
      select(data-bind="options: businessCases, optionsText: 'label', optionsValue: 'id', value: d.businessCase")

      div.required(data-bind="visible: !!d.businessCase()")
        p.question Please attach the Business Case document
        div.grid-row
          div
            input(type="file" data-bind="value: d.businessCaseDocument")
          div
            a(href="#" data-bind="visible: !!d.businessCaseDocument(), click: removeBusinessCaseDocument") Remove

      +navbuttons


    fieldset.page#financials(data-bind="visible: d.page() == 3")
      p.question How are costs distributed?
      div.table
        div.tr
          div.td Cost
          // ko foreach: financialYears
          div.td(data-bind="text: yearLabel")
          // /ko
          div.td Total
        div.tbody(data-bind="foreach: costTypes")
          div.tr
            div.td(data-bind="text: name")
            // ko foreach: $root.financialYears
            div.td.input
              input.numerical(type="text" data-bind="value: $root.d.costs[$parent.name][yearId]")
            // /ko              
            div.td.numerical(data-bind="text: $root.d.costs[name].total")
        div.tr
          div.td Total
          // ko foreach: financialYears
          div.td.numerical
            div(data-bind="text: $root._costTotals[yearId], attr: {class: $root._costTotals[yearId]() == $root._financingTotals[yearId]() ? 'ok' : 'discrepancy'}")
          // /ko
          div.td.numerical(data-bind="text: _costGrandTotal")
        div.tbody(data-bind="foreach: financingTypes")
          div.tr
            div.td(data-bind="text:name")
            // ko foreach: $root.financialYears
            div.td.input
              input.numerical(type="text" data-bind="value: $root.d.financing[$parent.name][yearId]")
            // /ko
            div.td.numerical(data-bind="text: $root.d.financing[name].total")
        div.tr
          div.td Total financing
          // ko foreach: financialYears
          div.td.numerical
            div(data-bind="text: $root._financingTotals[yearId], attr: {class: $root._costTotals[yearId]() == $root._financingTotals[yearId]() ? 'ok' : 'discrepancy'}")
          // /ko
          div.td.numerical(data-bind="text: _financingGrandTotal")
        div.tr
          div.td Cost of the "do nothing" approach
          // ko foreach: financialYears
          div.td.input
            input.numerical(type="text" data-bind="value: $root.d.doNothing[yearId]")
          // /ko
          div.td.numerical(data-bind="text: $root.d.doNothing.total")
        div.tr
          div.td Return on investment
          // ko foreach: financialYears
          div.td.numerical(data-bind="text: $root._balanceTotals[yearId]")
          // /ko
          div.td.numerical(data-bind="text: _balanceGrandTotal")
      div(data-bind="visible: d.costs['Technology capital expenditure'].total() > 0")
        p.question What are the components of the technology capital expenditure?
        p.sub Costs may include hosting, development, etc.
        div(data-bind="visible: d.techCapCosts().length == 0") No expenditures specified
        div.table
          div.tr(data-bind="visible: d.techCapCosts().length > 0")
            div.td Nature of cost
            // ko foreach: financialYears
            div.td(data-bind="text:yearLabel") 
            // /ko
            div.td Total
          div.tbody(data-bind="foreach: d.techCapCosts")
            div.tr
              div.td.input
                input(type="text" data-bind="value: name")
              // ko foreach: $root.financialYears
              div.td.input
                input.numerical(type="text" data-bind="value: $parent[yearId]")
              // /ko
              div.td.numerical(data-bind="text: total")
              div.td
                a(href="#" data-bind="click: $root.removeTechCapCost, visible: $root.d.techCapCosts().length > 1") Remove
          div.tr
            div.td Total
            // ko foreach: financialYears 
            div.td.numerical
              div(data-bind="text: $root._techCapCostTotals[yearId], attr: {class: $root._techCapCostTotals[yearId]() == ($root.d.costs['Technology capital expenditure'][yearId]() || 0) ? 'ok' : 'discrepancy'}")
            // /ko
            div.td.numerical(data-bind="text: _techCapCostGrandTotal")
          div.tr
            div.td Total technology capital expenditure
            // ko foreach: financialYears 
            div.td.numerical
              div(data-bind="text: $root.d.costs['Technology capital expenditure'][yearId]() || 0, attr: {class: $root._techCapCostTotals[yearId]() == ($root.d.costs['Technology capital expenditure'][yearId]() || 0) ? 'ok' : 'discrepancy'}")
            // /ko
            div.td.numerical(data-bind="text: d.costs['Technology capital expenditure'].total")
        button(data-bind="click: addTechCapCost") Add an expenditure

      p.question How is the technology being purchased?
      p.sub Please provide the details of all the procurements being run and the procurement routes.
      textarea(data-bind="value: d.purchasetech")

      div.required
        p.question Is this spend associated with a project/programme included on the Government Major Project Portfolio?
        label.grid-row
          input(type="radio", name="isMajorPortfolio", value="1", data-bind="checked: d.isMajorPortfolio")
          div Yes   
        label.grid-row
          input(type="radio", name="isMajorPortfolio", value="0", data-bind="checked: d.isMajorPortfolio")
          div No
      
      +navbuttons

    fieldset.page#websiteinfo(data-bind="visible: d.page() == 4")
      
      div.required      
        p.question What domain name (URL) do you propose using for the digital service?
        input(type="text" data-bind="value: d.url")

      p.question Which users of the digital service, if any, will need to be identified and/or authenticated by the service? 
      p.sub Please refer to the #[a(href="https://www.gov.uk/service-manual/identity-assurance") Service Manual guidance] to ensure that the proposed approach is compliant. If there has already been contact with the GDS Identity Assurance Programme (IDAP) team please give brief details.
      input(type="text" data-bind="value: d.authentication")

      p.question What measures are planned to support assisted digital users?
      p.sub The proposal needs to comply with the #[a(href="https://www.gov.uk/service-manual/assisted-digital/index.html") Assisted Digital Guidance] from the Service Manual. This may outline consideration on delivering the services through the Front Office Counter Services framework. Please ensure costs are covered in the high-level finances.
      textarea(data-bind="value: d.assistedOutline")

      div.required
        p.question Is this digital service going to be part of GOV.UK? 
        label.grid-row
          input(type="radio" name="newwebsite" value="0" data-bind="checked: d.govukexempt")
          div Yes
        label.grid-row
          input(type="radio" name="newwebsite" value="1" data-bind="checked: d.govukexempt")
          div No

      div#website-nogovuk(data-bind="visible: d.govukexempt() == 1")
        div.required
          p.question Why is this site exempt from GOV.UK?
          p.sub Please see the GDS #[a(href="https://www.gov.uk/government/publications/request-an-exemption-from-govuk/exemptions-guidance") Exemptions guidance] for accepted grounds for exemption.
          textarea(data-bind="value: d.noGovUkReason")

        p Please add any supporting emails confirming the grounds of exemption
        div.grid-row
          div
            input(type="file" data-bind="value: d.govukexemptionfile")
          div
            a(href="#" data-bind="visible: !!d.govukexemptionfile(), click: removegovukexemptionfile") Remove
       

      +navbuttons

    fieldset.page#submit(data-bind="visible: d.page() == 5")
      
      label.question Please list any critical deadlines in the next six months 
      p.sub Giving us critical dates and their reason will help us prevent delays in complex approval cases.
      textarea(data-bind="value: d.deadlines")

      p Once your application is submitted, we aim to come back to you with an answer within #[span(data-bind="text: _daysForAssessment")] days.

      button.primary(type="submit" data-bind="click: function() {window.location = _selfAssessmentLink()}")#submit Submit and launch self-assessment


      +navbuttons
      
  pre(data-bind="text: ko.toJSON($data, null, 2)")
  
  script(src="/javascripts/surveyviewmodel.js")