doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(src='/javascripts/knockout-latest.js')
    script(src='/javascripts/jquery.min.js')
    main#content
      block content