extends layout

block content
  form(method="post" enctype="multipart/form-data")
    fieldset.page#selfassessment()
      p.lede The following #[strong(data-bind="text: selfAssessmentQuestions().length")] questions help you to self-assess the health of the program, and are tailored to its current phase.

      p.lede Your progress will be stored throughout &ndash; you can return to this page at any time to complete the self-assessment.

      div(data-bind="visible:_answeredQuestions() > 0")
        p You have answered #[strong(data-bind="text: _answeredQuestions")] questions. #[a(href="#" data-bind="click: toggleAnswers, text: showAnswers() ? 'Hide answers': 'Show answers'")]
      div(data-bind="foreach: selfAssessmentQuestions, visible: showAnswers")
        div(data-bind="if: !!answer()")
          p.question(data-bind="text:question")
          div(data-bind="attr: {class: answer}")
            span(data-bind="text:$data[answer()]")
            // ko if: !!comment()
            br
            strong Comment:&ensp;
            span(data-bind="text:comment")
            // /ko 
            span &ensp;
            a(href="#" data-bind="click: $root.clearAnswer") Change


      div(data-bind="visible: $root.selfAssessmentIndex() == -1")
        p Each question helps you rate your project according to one of the Cabinet Office's digital standards. 
        p This self assessment processes should take about 30 minutes to complete.
        button.primary(data-bind="click: function() {selfAssessmentIndex(0)}") Get started 

      div#questioncards(data-bind="foreach: selfAssessmentQuestions")
        div.selfassessmentwrapper(data-bind="visible: $root.selfAssessmentIndex() == $index() * 2")
          p.question.selfassessment
            span(data-bind="text:$index() + 1")
            span :&ensp;
            span(data-bind="text: question")
            
          label.green.grid-row(data-bind="click: $root.incrementSelfAssessment")
            input(type="radio" value="green" data-bind="attr: {name: id}, checked: answer")
            div
              strong GREEN:&ensp;
              span(data-bind="text: green")
          label.amber.grid-row(data-bind="visible: hasamber, click: $root.incrementSelfAssessment")
            input(type="radio" value="amber" data-bind="attr: {name: id}, checked: answer")
            div
              strong AMBER:&ensp;
              span(data-bind="text: amber")
          label.red.grid-row(data-bind="click: $root.incrementSelfAssessment")
            input(type="radio" value="red" data-bind="attr: {name: id}, checked: answer")
            div
              strong RED:&ensp;
              span(data-bind="text: red")
        div.selfassessmentwrapper(data-bind="visible: $root.selfAssessmentIndex() == $index() * 2 + 1")
          p.question.selfassessment Any additional comments to your answer?
          div(data-bind="attr: {class: answer}, text:$data[answer()]")
          textarea(data-bind="value: comment")
          button.primary(data-bind="click: $root.gotoNextUnansweredQuestion") Continue

      div(data-bind="visible: selfAssessmentIndex() == 2 * selfAssessmentQuestions().length")
        p And you're done! Click the button below to submit your answers.
        button.primary(type="submit" data-bind="click:submit") Submit
      div.navbuttons(data-bind="visible: selfAssessmentIndex() >= 0")
        a(href="#" data-bind="click: decrementSelfAssessment") Go back
        span &emsp;
        a(href="#" data-bind="click: reset") Start over

  pre(data-bind="text: ko.toJSON($data, null, 2)")
  
  script.
    window.selfassessment = !{selfassessment};
    window.cookiename = '!{cookie}';

  script(src="/javascripts/selfassessmentviewmodel.js")