extends layout

block content
  form
    div.table
      div.tr
        div.td
        div.td Column 1
        div.td Column 2
        div.td Column 3
      div.tr
        div.td 1&ensp;
          a(href="#") [x]
        div.td.input
          select
            option one
            option two
            option three
        div.td.input
          textarea          
        div.td.input
          label
            input(type="checkbox")
            span Make it so  